body {
	margin: 0;
	padding: 0;
	background-color: rgb(239, 239, 239);
	font-family: serif, sans-serif;
}

.menu ul {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;    
}

.menu li {
	display: inline-block;
	font-size:20px;
}

.menu a {
	text-decoration: none;
	color: black;
	width: 100px;
	display: block;
	padding: 15px;
}

#pagina-selecionada{
	color: rgb(73, 186, 155);
	font-size: 25px;
}

li a:hover {
	color: rgb(73, 186, 155); 
	border-color: #000;
}

h1{
	color: rgb(73, 186, 155); 
}
		
h2{
	font-size: 19px;
}

h3 a{
	padding: 7px 20px; 
	text-decoration: none;
	/* cantos arredondados */
	border-radius:15px;
	background: rgb(73, 186, 155); 
	color: rgb(255, 255, 255); 
	border-color: #000;
}

h3 a:hover {
	padding: 7px 20px; 
	text-decoration: none;
	/* cantos arredondados */
	border-radius:15px;
	background: rgb(255, 255, 255);
	color: rgb(73, 186, 155); 
	border-color: #000;
}

#informacoes{
	padding: 20px 20px; 
	margin-top: 20%;
	margin-left: 15%;    
	color: black;
}

img{
	margin-left: 50%;
	position: absolute;
	width: 40%;
}